# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.iml
.idea/
.idea/workspace.xml
out/
target/
logs/
lib/
executions/
*.tar.gz
