<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
    <property>
        <name>hbox.staging.dir</name>
        <value>/tmp/hbox/staging/${user.name}</value>
    </property>
    <property>
        <name>hbox.cleanup.enable</name>
        <value>true</value>
    </property>
    <property>
        <name>hbox.execute.node.limit</name>
        <value>100</value>
    </property>
    <property>
        <name>hbox.container.maxFailures.rate</name>
        <value>0.5</value>
    </property>
    <property>
        <name>hbox.history.webapp.address</name>
        <value>0.0.0.0:19966</value>
    </property>
    <property>
        <name>hbox.history.webapp.port</name>
        <value>19966</value>
    </property>
    <property>
        <name>hbox.tf.board.history.dir</name>
        <value>/tmp/hbox/eventLog</value>
    </property>
    <property>
        <name>hbox.history.log.dir</name>
        <value>/tmp/hbox/history</value>
    </property>
    <property>
        <name>hbox.history.address</name>
        <value>0.0.0.0:10121</value>
    </property>
    <property>
        <name>hbox.hisotory.port</name>
        <value>10121</value>
    </property>
    <property>
        <name>hbox.history.webapp.https.addresss</name>
        <value>0.0.0.0:19967</value>
    </property>
    <property>
        <name>hbox.history.webapp.https.port</name>
        <value>19967</value>
    </property>
    <property>
        <name>hbox.history.client.thread-count</name>
        <value>10</value>
    </property>
</configuration>
